/_external/home/.vim/swaps
!/_external/home/.vim/swaps/.gitkeep

# FISH
fish/functions/fish_prompt.fish
fish/conf.d/omf.fish
fish/fish_variables
fish/fishfile

fisherman/
fnm/
secrets.fish

# Raycast
Raycast/extensions
Raycast/config.json

# Dev
gatsby/
yarn/link

# Utils
.DS_Store
iterm2/AppSupport
configstore/

# Github
gh/hosts.yml