[submodule "_external/home/.vim/bundle/vim-javascript"]
	path = _external/home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "_external/home/.vim/bundle/vim-markdown"]
	path = _external/home/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "_external/home/.vim/bundle/Dockerfile.vim"]
	path = _external/home/.vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "_external/home/.vim/bundle/lightline.vim"]
	path = _external/home/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
