.DS_Store

/_external/home/.vim/swaps
!/_external/home/.vim/swaps/.gitkeep

# FISH
fish/functions/fish_prompt.fish
fish/conf.d/omf.fish
fish/fish_variables
fish/fishfile

configstore/
fisherman/
fnm/
gatsby/
iterm2/AppSupport
secrets.fish