<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/.config/Raycast/scripts</string>
	<key>NSStatusItem Preferred Position raycastIcon</key>
	<real>745</real>
	<key>boostRankingByPreviousSearches</key>
	<true/>
	<key>clipboardHistory_selectedContentTypeFilter</key>
	<string>all</string>
	<key>commandsPreferencesExpandedItemIds</key>
	<array/>
	<key>commandsPreferencesLastSelectedFilterTab</key>
	<string>all</string>
	<key>didPerformCheckForPreOnboardingClients</key>
	<true/>
	<key>floatingNotesSelectedThemeId</key>
	<string>theme2</string>
	<key>onboardingSkipped</key>
	<true/>
	<key>onboarding_canShowActionPanelHint</key>
	<false/>
</dict>
</plist>
