<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FXDefaultSearchScope</key>
	<string>SCcf</string>
	<key>FXEnableExtensionChangeWarning</key>
	<false/>
	<key>FXPreferredViewStyle</key>
	<string>clmv</string>
	<key>FXRecentFolders</key>
	<array/>
	<key>NewWindowTarget</key>
	<string>PfHm</string>
	<key>OpenWindowForNewRemovableDisk</key>
	<true/>
	<key>ShowExternalHardDrivesOnDesktop</key>
	<true/>
	<key>ShowHardDrivesOnDesktop</key>
	<false/>
	<key>ShowMountedServersOnDesktop</key>
	<true/>
	<key>ShowPathbar</key>
	<true/>
	<key>ShowRemovableMediaOnDesktop</key>
	<true/>
	<key>ShowSidebar</key>
	<true/>
	<key>ShowStatusBar</key>
	<true/>
	<key>WarnOnEmptyTrash</key>
	<false/>
	<key>_FXShowPosixPathInTitle</key>
	<true/>
</dict>
</plist>
