<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPMessageTracingWindowHideCount</key>
	<integer>1087</integer>
	<key>SPMessageTracingWindowShowCount</key>
	<integer>1087</integer>
	<key>__NSEnableTSMDocumentWindowLevel</key>
	<true/>
	<key>engagementCount-com.apple.Spotlight</key>
	<integer>325</integer>
	<key>lastVisibleScreenRect</key>
	<string>{{0, 53}, {1440, 822}}</string>
	<key>lastWindowPosition</key>
	<string>{{665, 623}, {680, 52}}</string>
	<key>orderedItems</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>APPLICATIONS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MENU_SPOTLIGHT_SUGGESTIONS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MENU_CONVERSION</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MENU_EXPRESSION</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MENU_DEFINITION</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>SYSTEM_PREFS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>DOCUMENTS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>DIRECTORIES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>PRESENTATIONS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>SPREADSHEETS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>PDF</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MESSAGES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>CONTACT</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>EVENT_TODO</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>IMAGES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>BOOKMARKS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MUSIC</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MOVIES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>FONTS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>MENU_OTHER</string>
		</dict>
	</array>
	<key>showedFTE</key>
	<true/>
	<key>startTime</key>
	<real>628083843.89767003</real>
	<key>useCount</key>
	<integer>3</integer>
	<key>userHasMovedWindow</key>
	<true/>
	<key>version</key>
	<integer>7</integer>
</dict>
</plist>
