<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fahrenheit</key>
	<integer>0</integer>
	<key>Fan_0</key>
	<string>2,TG0D,45,55</string>
	<key>Fan_1</key>
	<string>2,TG0D,45,55</string>
	<key>InterfaceLanguage</key>
	<string>English.xml</string>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>311.5</real>
	<key>PreciseTemperature</key>
	<integer>0</integer>
	<key>RateOnMacupdateNextDate</key>
	<string>2019-04-26T00:17:54</string>
	<key>UpdateChecker_Auto</key>
	<integer>1</integer>
	<key>UpdateChecker_NextCheck</key>
	<string>2019-04-24T22:40:19</string>
	<key>WindowGeometry</key>
	<data>
	AdnQywACAAAAAAGtAAABJQAABOEAAAKxAAABrQAAATsAAAThAAACsQAAAAAAAAAABpA=
	</data>
	<key>WindowSplitterPosition</key>
	<array>
		<string>46</string>
		<string>46</string>
	</array>
	<key>WindowState</key>
	<data>
	AAAA/wAAAAD9AAAAAAAAAzUAAAF3AAAABAAAAAQAAAAIAAAACPwAAAAA
	</data>
	<key>menubarIcon</key>
	<integer>0</integer>
	<key>menubarTwoLines</key>
	<integer>0</integer>
	<key>traySensor</key>
	<string>TG0D</string>
</dict>
</plist>
